html, body
  background: #222
  color: #eee
  margin: 0
  padding: 0
  overflow: hidden

.overlay
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  opacity: 0.3
  background: #411

.app
  position: relative
  height: 100%
  width: 100%
